<div align="center">
  <h1>Some of Our Latest blogs</h1>
</div>
<div  align="center" class="container">

  <div *ngFor="let s of Myvar" class="card"  style="width:15rem; height: 17rem; display: inline-block; margin: 30px;">
    <img  class="card-img-top" src="../assets/images1/sample.jpg" alt="Card image" style="width:100%">
    <div  class="card-body">
      <a href="/blogdetails/{{s.id}}" class="card-title">{{s.about}}</a>
      <p class="card-text">{{s.category}}</p>
      <a href="/blogdetails/{{s.id}}" class="btn btn-primary">View Blog</a>
    </div>
  </div>

</div>
