<form  style="border:1px solid #ccc">
  <div class="container">
    <h1>Add Blog</h1>
    <p>Please fill in this form to add a blog</p>
    <hr>
    <label ><b>Title</b></label>
    <input type="text"  name="about" [(ngModel)]="about"  >

    <label ><b>Category</b></label>
    <input type="text" name="category" [(ngModel)]="category" >

    <label ><b>Content</b></label>
    <input type="text" name="content" [(ngModel)]="content" >

    <label ><b>Accesss</b></label>
    <input type="text" name="accesss" [(ngModel)]="accesss" >

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" (click)="save()" >Save Blog</button>
    </div>
  </div>
</form>
