<nav class="navbar py-1  navbar-expand-sm bg-dark navbar-dark py-md-0">

  <a class="navbar-brand" href="#">
    <img src="../assets/images1/4.jpeg" alt="logo" style="width:40px;">
  </a>
  <a class="font-weight-bold text-white font-italic text-decoration-none" href="/home">MyBlog.com</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <button (click)="add()" class="btn btn-dark btn-lg btn-outline-success " *ngIf="this.service.checkLogin()">+</button>
    </li>
<!--    <li *ngIf="this.authService.checkuserlogin()" class="nav-item">-->
<!--      <button class="nav-link bg-dark btn" (click)="dark()">Dark Mode</button>-->
<!--    </li>-->
<!--    <li *ngIf="this.authService.checkuserlogin()" class="nav-item">-->
<!--      <button class="nav-link bg-dark btn" (click)="light()">Light Mode</button>-->
<!--    </li>-->

    <li class="nav-item">
      <button *ngIf ="this.service.checkLogin()"  class="nav-link btn bg-dark" (click)="click()">MyProfile</button>
    </li>

    <li class="nav-item">
      <button *ngIf="this.service.checkLogin()" class="nav-link bg-dark btn" (click)="logout()" >LogOut</button>
      <button *ngIf="!this.service.checkLogin()" class="nav-link bg-dark btn" (click)="login()" >LogIn</button>

    </li>

  </ul>

</nav>
