<br><br>
<h1 align="center" ><i>MyBlog.com</i></h1>
<br>
<div class="container">
  <div class="card" style="width:90%; height: 90%">
    <div class="card-body">
      <h4 class="card-title">{{MYProd.about}}</h4>
      <h2 class="card-text">{{MYProd.content}}</h2>
      <div align="center">
      <a href="/pro/{{MYProd.users.usrid}}" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <div align="center">
    <img class="card-img-bottom" src="../assets/images1/sample.jpg" alt="Card image" style="width:30%; height: 40%">
    </div>
  </div>
</div>

<div align="center">
  <button class="btn-outline-dark" *ngIf="user.usrid !== MYProd.users.usrid" (click)="follow(MYProd.users.usrid)">Follow</button>
</div>
