<div class="container">
  <section id="content">
    <form action="">
      <h1 class="text-info">Login Form</h1>
      <div>
        <input type="text" placeholder="Username" required="" id="username" name="email" [(ngModel)]="username" >
      </div>
      <div>
        <input type="password" placeholder="Password" required="" id="password" name="pwd" [(ngModel)]="password" >
      </div>
      <div>
        <button class="btn btn-md btn-success" (click)="Login()" >Log In</button>
        <button class="btn btn-md btn-success" (click)="sign()">Register</button>
      </div>
    </form>
  </section>
</div>
