<form  style="border:1px solid #ccc">
  <div class="container">
    <h1>Add Blog</h1>
    <p>Please fill in this form to add a blog</p>
    <hr>
    <label ><b>About</b></label>
    <input type="text" placeholder="Enter Title" name="about" [(ngModel)]="about"  required>

    <label ><b>Category</b></label>
    <input type="text" placeholder="Enter Category" name="category" [(ngModel)]="category"  required>

    <label ><b>Content</b></label>
    <input type="text" placeholder="Enter Content" name="content" [(ngModel)]="content"  required>

    <label ><b>Access</b></label>
    <input type="text" placeholder="Enter either Public or Private" name="accesss" [(ngModel)]="accesss"  required>


    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" (click)="Add()" >Add Blog</button>
    </div>
  </div>
</form>
