<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../assets/images1/1.jpeg" alt="Los Angeles" style="width:100%;">
    </div>

    <div class="item">
      <img src="../assets/images1/2.png" alt="Chicago" style="width:100%;">
    </div>

    <div class="item">
      <img src="../assets/images1/sample.jpg" alt="New york" style="width:100%;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div align="center">
  <marquee scrollamount = "15">
    <h1 style = "font-family:cursive; font-size:150px;" >
      MyShop.com
    </h1>
  </marquee>
</div>
<div class="container">
  <div class="btn-group btn-group-justified fixed-bottom">
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
    <a href="/sign" class="btn btn-primary btn-lg">Sign Up</a>
  </div>
</div>
<div class="container-fluid">
 <p class="text-danger">erghj</p>
</div>
