<br> <br>
<div class="container">
  <div class = "row">
    <div class="col-sm-5 col-md-5 col-lg-5" style="border-right: 1px solid black; border-bottom: 1px solid black">
      <img src="../assets/images1/sample.jpg" class="rounded-circle" style="width:30%; height: 50%">
      <br><br><br><br>
      <div align="left">
        <button class="btn btn-outline-success btn-dark btn-lg" (click)="Allf()">All followers</button>
        <button class="btn btn-outline-success btn-dark btn-lg" (click)="Details()">Personal Details</button>
      </div>
    </div>
    <div  class="col-sm-7 col-md-7 col-lg-7" style="border-bottom:1px solid black">
      <div *ngIf="!this.Obj.check()">
      <div align="center">
        <div style=" position: relative">
          <h1 class="text-secondary">Personal Details</h1>
        </div>
        <br><br>
        <h2 align="left" >Name /-</h2>
        <h2><input class="text-center bg-secondary" type="text" value="{{MyProd.name}}" size="45%" [disabled]="disabled" [(ngModel)]="MyProd.name"></h2>

        <h2 align="left">Contact /-</h2>
        <h2><input class="text-center bg-secondary" type="text" value="{{MyProd.contact}}" size="45" [disabled]="disabled" [(ngModel)]="MyProd.contact"></h2>

        <h2 align="left">Address</h2>
        <h2><input class="text-center bg-secondary" type="text" value="{{MyProd.address}}" size="45" [disabled]="disabled" [(ngModel)]="MyProd.address"></h2>

        <div class="btn-group d-flex">
          <button class="btn btn-md btn-outline-dark" (click)="save()">Save</button>
          <button class="btn btn-md btn-outline-dark" (click)="edit()">Edit</button>
        </div>
        <br>
      </div>
      </div>
      <div *ngIf="this.Obj.check()">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Unfollow</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let s of arr">
            <td>{{s.users1.email}}</td>
            <td>{{s.users1.name}}</td>
            <td>
              <button (click)="unfollow(s.users1.usrid)" class="btn btn-danger">X</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div align="center">
  <h3 class="text-dark">Add some of your blogs By clicking on the button on navbar</h3>
</div>
<br>
<nav class="navbar navbar-expand-sm bg-primary justify-content-center">
  <ul class="navbar-nav myclass">
    <li *ngFor="let d of MYVAR" class="nav-item">
      <button  (click)="show(d.category)" class="btn-primary btn" ><b>{{d.category}}</b></button>
    </li>
  </ul>
</nav>
<br>
<div align="center" class="container">
  <div  *ngFor="let s of MYVAR" class="card" style="width:12rem; height: 16rem; display: inline-block; margin: 30px;">
    <img class="card-img-top" src="../assets/images1/sample.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <a href="/blogdetails/{{s.id}}" class="card-title">{{s.about}}</a>
      <p class="card-text">{{s.category}}</p>
      <button (click)="edit1(s.id)" class="btn btn-primary">Edit Blog</button>
    </div>
  </div>

</div>
<hr>
