<form  class="was-validated" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label ><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="Name" [(ngModel)]="name"  required=" true">
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Invalid</div>
    <label ><b>Contact No.</b></label>
    <input type="text" placeholder="Enter Contact Num" name="Contact" [(ngModel)]="Num"  required="true ">
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Invalid</div>

    <label ><b>Address</b></label>
    <input type="text" placeholder="Enter Address" name="address" [(ngModel)]="address"  required=" true">
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Invalid</div>

    <label ><b>Email</b></label>
    <input type="text" placeholder="Enter Username" name="email" [(ngModel)]="email"  required="true">
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Invalid</div>

    <label ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw"  [(ngModel)]="password" required>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Invalid</div>

    <label ><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" [(ngModel)]="repeat"  required>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Invalid</div>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" (click)="SignUp()" >Sign Up</button>
    </div>
  </div>
</form>
