<h1 align="center">Blogs by Your Favourite User</h1>
<div *ngIf="m === 0" align="center" class="container">
  <div  *ngFor="let s of MyProd" class="card" style="width:12rem; height: 16rem; display: inline-block; margin: 30px;">
    <img *ngIf="s.accesss === 'Public'" class="card-img-top" src="../assets/images1/sample.jpg" alt="Card image" style="width:100%">
    <div *ngIf="s.accesss === 'Public'" class="card-body">
      <p class="card-text">{{s.category}}</p>
      <a href ="/blogdetails/{{s.id}}"> View</a>
    </div>
  </div>

</div>
<div *ngIf="m === 1" align="center" class="container">
  <div  *ngFor="let s of MyProd" class="card" style="width:12rem; height: 16rem; display: inline-block; margin: 30px;">
    <img class="card-img-top" src="../assets/images1/sample.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <p class="card-text">{{s.category}}</p>
      <a href ="/blogdetails/{{s.id}}"> View</a>
    </div>
  </div>

</div>
<br><br>
<div align="center">
  <button class="btn btn-lg btn-outline-dark" (click)="Follow()">Follow</button>
</div>
